body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Black background for the entire page */
    font-family: 'Arial', sans-serif;
    color: white; /* Default text color set to white for better visibility */
}

canvas {
    border: 1px solid #fff; /* White border for the canvas */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* White glow for the canvas */
    background-color: #000; /* Black background for the canvas */
}

.score {
    color: white; /* White color for the score text */
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#retryButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #5cb85c; /* Green background for the retry button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20px); /* Position the button above the center */
    display: none; /* Initially hidden */
    outline: none;
}

#retryButton:hover {
    background-color: #4cae4c; /* Darker green color on hover */
}